{
    "version": 3,
    "configurePresets": [
        {
            "name": "configure-base",
            "hidden": true,
            "generator": "Ninja",
            "environment": {
                "QT_PATH": "C:/Qt/6.7.3/msvc2019_64",
                "VCPKG_ROOT": "C:/work/vcpkg"
            },
            "cacheVariables": {
                "CMAKE_PREFIX_PATH": "$env{QT_PATH}",
                "SERENITY_BUILD_EXAMPLES": "OFF",
                "SERENITY_BUILD_TESTS": "OFF",
                "SERENITY_ENABLE_DOCS": "OFF",
                "CMAKE_EXPORT_COMPILE_COMMANDS": "ON",
                "BUILD_QT_UI": "ON",
                "BUILD_QT3D_RENDERER": "ON",
                "BUILD_SERENITY_RENDERER_QT": "ON",
                "BUILD_SERENITY_RENDERER_KDGUI": "OM"
            }
        },
        {
            "name": "msvc_x64",
            "hidden": true,
            "architecture": {
                "value": "x64",
                "strategy": "external"
            },
            "toolset": {
                "value": "host=x64",
                "strategy": "external"
            },
            "cacheVariables": {
                "CMAKE_C_COMPILER": "cl",
                "CMAKE_CXX_COMPILER": "cl"
            },
			"toolchainFile": "$env{VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake",
            "environment": {
                    "PATH": "$env{QT_PATH}/bin;$penv{PATH}"
            }
        },
        {
            "name": "debug",
            "displayName": "Debug",
            "inherits": [
                "configure-base"
            ],
            "binaryDir": "${sourceDir}/build/Debug",
            "cacheVariables": {
                "CMAKE_BUILD_TYPE": "Debug"
            }
        },
        {
            "name": "debug-msvc_x64",
            "displayName": "Debug (msvc_x64)",
            "inherits": [
                "debug",
                "msvc_x64"
            ]
        },
        {
            "name": "release",
            "displayName": "Release",
            "inherits": [
                "configure-base"
            ],
            "binaryDir": "${sourceDir}/build/Release",
            "cacheVariables": {
                "CMAKE_BUILD_TYPE": "Release"
            }
        },
        {
            "name": "release-msvc_x64",
            "displayName": "Release (msvc_x64)",
            "inherits": [
                "release",
                "msvc_x64"
            ]
        },
        {
            "name": "profile",
            "displayName": "Profile",
            "inherits": [
                "configure-base"
            ],
            "binaryDir": "${sourceDir}/build/Profile",
            "cacheVariables": {
                "CMAKE_BUILD_TYPE": "RelWithDebInfo"
            }
        },
        {
            "name": "profile-msvc_x64",
            "displayName": "Profile (msvc_x64)",
            "inherits": [
                "profile",
                "msvc_x64"
            ]
        }
    ],
    "buildPresets": [
        {
            "name": "debug",
            "displayName": "Debug",
            "configurePreset": "debug"
        },
        {
            "name": "debug-msvc_x64",
            "displayName": "Debug (msvc_x64)",
            "configurePreset": "debug-msvc_x64",
            "environment": {
                "TOTO": "$env{QT_PATH}/bin:$penv{PATH}"
            }
        },
        {
            "name": "release",
            "displayName": "Release",
            "configurePreset": "release"
        },
        {
            "name": "release-msvc_x64",
            "displayName": "Release (msvc_x64)",
            "configurePreset": "release-msvc_x64"
        },
        {
            "name": "profile",
            "displayName": "Profile",
            "configurePreset": "profile"
        },
        {
            "name": "profile-msvc_x64",
            "displayName": "Profile (msvc_x64)",
            "configurePreset": "profile-msvc_x64"
        }
    ]
}
